* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

nav {
    width: 100%;
    height: 85px;
    line-height: 75px;
    padding: 0px 100px;
    position: fixed;
    background-color: black;
    color: aliceblue;
}

nav .logo img {
    float: left;
    width: 170px;
    height: auto;
    margin-top: 14px;
    cursor: pointer;
}

nav ul {
    float: right;
}

nav li {
    display: inline-block;
    list-style: none;
}

nav li a {
    font-size: 16px;
    color: aliceblue;
    text-decoration: none;
    padding: 0px 10px;
    text-transform: uppercase;
}

nav li a:hover {
    color: #5f5855;
    transition: all 0.4s ease 0s;
}

.toggle_btn {
    color: #fff;
    font-size: 1.5rem;
    cursor: pointer;
    float: right;
    display: none;
}

.dropdown_menu {
    display: none;
    position: absolute;
    font-size: 40px;
    left: 15rem;
    top: 190px;
    height: 0;
    width: 450px;
    background: rgb(255, 255, 255, 0.1);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown_menu.open {
    height: 740px;
}

.dropdown_menu li {
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: aliceblue;
    text-decoration: none;
    list-style: none;
}

.dropdown_menu li a {
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: aliceblue;
    text-decoration: none;
    list-style: none;
}

.kingdom-items {
    width: 100%;
    height: 89vh;
    background-image: linear-gradient( rgba(26, 20, 5, 0.527), rgba(24, 23, 23, 0.822)), url(assets/img/cdaisb.jpg);
    background-position: center;
    background-size: cover;
    padding-left: 8%;
    padding-right: 8%;
    box-sizing: border-box;
}

.kingdom-col h1 {
    padding-top: 130px;
    font-weight: 800;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 82px;
}

.kingdom-col span {
    color: aliceblue;
    letter-spacing: 12px;
}

.descrip {
    width: 500px;
    height: 100px;
    line-height: 30px;
    margin-left: 40px;
}

.descrip p {
    font-size: 22px;
    color: aliceblue;
    font-weight: 700;
}

.payment-plan {
    background-color: darkgray;
}

.payment-plan {
    background-color: darkgray;
}

.payment-plan img {
    width: 1150px;
    height: 530px;
    padding-left: 180px;
    border-radius: 12px 12px 72px 12px;
}

@media screen and (max-width: 975px) {
    body {
        overflow-x: hidden;
        overflow-y: scroll;
    }
    nav {
        width: 840px;
        height: 185px;
        line-height: 75px;
        padding: 0px 100px;
        position: fixed;
        background-color: rgb(0, 0, 0);
        color: aliceblue;
    }
    nav .logo img {
        width: 380px;
        height: auto;
        margin-top: 14px;
        cursor: pointer;
    }
    nav ul {
        float: right;
    }
    nav li {
        display: inline-block;
        list-style: none;
    }
    nav li a {
        font-size: 16px;
        color: aliceblue;
        text-decoration: none;
        padding: 0px 10px;
        text-transform: uppercase;
        display: none;
    }
    nav li a:hover {
        color: #5f5855;
        transition: all 0.4s ease 0s;
    }
    .toggle_btn {
        display: block;
        font-size: 65px;
        padding-top: 65px;
    }
    .dropdown_menu {
        display: block;
        background-color: #121314;
        width: 500px;
    }
    .kingdom-items {
        width: 840px;
        height: 140vh;
        background-image: linear-gradient( rgba(26, 20, 5, 0.422), rgba(24, 23, 23, 0.822)), url(assets/img/novaisb-bg.jpg);
    }
    .kingdom-col h1 {
        padding-top: 130px;
        font-weight: 800;
        font-family: Arial, Helvetica, sans-serif;
        line-height: 82px;
    }
    .descrip {
        width: 700px;
        height: 100px;
        line-height: 40px;
        margin-left: 40px;
    }
    .descrip p {
        font-size: 32px;
        color: aliceblue;
        font-weight: 700;
    }
    .kingdom-col span {
        color: aliceblue;
        letter-spacing: 12px;
    }
    .payment-plan {
        background-color: darkgray;
        width: 840px;
    }
    .payment-plan img {
        width: 790px;
        height: 400px;
        padding-left: 30px;
        border-radius: 12px 12px 72px 12px;
    }
}